.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  position: relative;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: shake infinite 1.52s cubic-bezier(.36,.17,.19,.97) both;
  }
}

.App-header {
  background-color: rgb(15, 163, 107);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(3px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-5px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(5px, 0, 0);
  }
}

/*                        EDITIONS                        */ 

input {
  width: 200px;
  height: 20px;
  font-size: 16px;
}


/* HEADER */

.GameHeader {
  display: flex;
  justify-content: space-around;
}

.PlayerHeader {
  display: flex;
}

/* Questoes */

.GameContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Questions {
  display: flex;
  justify-content: center;
}